*~
bin/
.bundle/
.DS_Store
*.gem
Gemfile.lock
gh-pages/
.htaccess
.jekyll-metadata
pkg/
.ruby-gemset
.ruby-version
.sass-cache
.sass-cache/
_site/
site/_site/
site/_site/.htaccess
*.swp
test/dest
tmp/*
/vendor
